/*
 * alexjj.com CSS
 * Light and Shite
 * The MIT License (MIT)
 * Copyright (c) 2016 Alex Johnstone
 */

body{
    font:1.2em/1.62em sans-serif;
    margin:1em auto;
    max-width:48em;
    padding:0 .62em;
    line-height: 1.5
}
h1,h2,h3 { line-height:1.2em; }

#content { text-align: justify; }

a { text-decoration: none; }

a:link    { color: #009966; }
a:visited { color: #009966; }
a:hover   { color: #000000; }
a:active  { color: #009966; }

img {
    max-width: 100%;
    height: auto;
    display:block;
    margin-left:auto;
    margin-right:auto
}

code,
pre {
  background: #eee;
  max-width: 100%;
}

code {
  padding: 2px 2px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
  border-left: 2px solid #009966;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

@media print{ body{ max-width:none } }

#footer {
  font-size: 0.75em;
  text-align: center;
  margin-top: 4em;
}

/* Nav bar */

.logo { display: block; margin: 0px auto; }

.nav { margin-bottom: 20px; font: }

.nav .navbar-list {
   padding: 0 0;
   text-align: center;
}

.nav .navbar-list li {
    display: inline-block;
    vertical-align: top;
    font-size: 1.62em;
    margin-right: 6px;
    padding: 10px 20px;
}
